.activity-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.icon {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    transition: color 0.3s;
}

.icon:hover {
    color: #007BFF;
}

form {
    display: none; /* إخفاء النماذج افتراضيًا */
    margin-top: 10px;
}

form.hidden {
    display: none;
}

form.visible {
    display: block;
}
/* تنسيق الجدول */
.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
}

.table td {
    text-align: center;
}

